<section class="general position-relative">
    <div class="container">
        <div class="navigation d-flex justify-content-between align-items-center">
            <div class="nav-help">
                <h4 class="nav-help-top">Юридический</h4>
                <p class="nav-help__helper">центр помощи</p>
            </div>
            <p class="nav-text">Телефон горячей линии: 8 (900) 494-03-33</p>

            <button class="btn-general btn-nav d-sm-block d-none">
                Перезвонить мне
            </button>
            <button class="btn-general btn-nav d-sm-none d-block">
                <img src="../img/mob-fon.png" alt="">
            </button>
        </div>

        <div class="quiz" style="">

            <div class="quiz-one d-flex justify-content-md-start justify-content-center align-items-center">
                <div class="img-block position-relative">
                    <img class="big-img" src="../img/big-img.png" alt="">
                    <img class="doc-abs-1 position-absolute" src="../img/doc-abs-1.png" alt="">
                    <img class="doc-abs-2 position-absolute" src="../img/doc-abs-2.png" alt="">
                </div>

                <div class="quiz-content">
                    <h2 class="title-medium title-medium-one">Нужно гражданство РФ,
                        рвп или внж?</h2>
                    <img class="big-img-mobile d-md-none d-block" src="../img/big-img-mobile.png" alt="">
                    <p class="quiz-text quiz-text-one">Ответьте на 5 вопросов и получите Гражданство РФ за 2 дня</p>
                    <button class="btn-general btn-general-one">Начать опрос</button>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12">
                        <h2 class="title-number">01</h2>
                        <h2 class="title-medium">Гражданином какой страны вы являетесь?</h2>
                        <form class="form">
                            <input class="quiz-input" placeholder="Введите вашу страну" type="text">
                            <div class="btn-navigation btn-navigation-one d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-12 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12">
                        <h2 class="title-number">02</h2>
                        <h2 class="title-medium">Введите ваш возраст</h2>
                        <form class="form">
                            <input class="quiz-input" placeholder="Введите вашу страну" type="text">
                            <div class="btn-navigation btn-navigation-two d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-12 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12">
                        <h2 class="title-number">03</h2>
                        <h2 class="title-medium">Сколько лет проживаете на территории РФ?</h2>
                        <form class="form">

                            <div class="row m-0 d-flex justify-content-start">

                                <div class="col-md-6 col-12 p-0 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radio1">
                                        <input class="label-input position-relative" checked type="radio" id="radio1"
                                            name="radio">
                                        <p class="lebel-text">До 6 месяцев</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radio2">
                                        <input class="label-input position-relative" type="radio" id="radio2"
                                            name="radio">
                                        <p class="lebel-text">От 6 до 12 месяцев</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radio3">
                                        <input class="label-input position-relative" type="radio" id="radio3"
                                            name="radio">
                                        <p class="lebel-text">1-3 года</p>
                                    </label>
                                </div>

                                <div class="col-md-6 col-12 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radio4">
                                        <input class="label-input position-relative" type="radio" id="radio4"
                                            name="radio">
                                        <p class="lebel-text">3-5 лет</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radio5">
                                        <input class="label-input position-relative" type="radio" id="radio5"
                                            name="radio">
                                        <p class="lebel-text">Более 5 лет</p>
                                    </label>
                                </div>

                            </div>

                            <div class="btn-navigation btn-navigation-three d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-12 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12">
                        <h2 class="title-number">04</h2>
                        <h2 class="title-medium">Какой вид документов вам нужен?</h2>
                        <form class="form">

                            <div class="row m-0 d-flex justify-content-start">

                                <div class="col-md-6 col-12 p-0 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioO1">
                                        <input class="label-input label-input-check position-relative" checked
                                            type="checkbox" id="radioO1" name="radio">
                                        <p class="lebel-text">Гражданство РФ</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radioO2">
                                        <input class="label-input label-input-check position-relative" type="checkbox"
                                            id="radioO2" name="radio">
                                        <p class="lebel-text">РВП</p>
                                    </label>
                                </div>

                                <div class="col-md-6 col-12 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioO3">
                                        <input class="label-input label-input-check position-relative" type="checkbox"
                                            id="radioO3" name="radio">
                                        <p class="lebel-text">ВНЖ</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radioO4">
                                        <input class="label-input label-input-check position-relative" type="checkbox"
                                            id="radioO4" name="radio">
                                        <p class="lebel-text">Патент</p>
                                    </label>
                                </div>

                            </div>

                            <div class="btn-navigation d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-12 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12 col-width-1">
                        <h2 class="title-number">05</h2>
                        <h2 class="title-medium">Есть ли у вас близкие родственники, являющиеся гражданами РФ?</h2>
                        <form class="form">

                            <div class="row m-0 d-flex justify-content-start">

                                <div class="col-md-5 col-12 p-0 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioOO1">
                                        <input class="label-input position-relative" checked type="radio" id="radioOO1"
                                            name="radio">
                                        <p class="lebel-text">Да, муж/жена</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radioOO2">
                                        <input class="label-input position-relative" type="radio" id="radioOO2"
                                            name="radio">
                                        <p class="lebel-text">Да, родители</p>
                                    </label>
                                </div>

                                <div class="col-md-7 col-12 p-0 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioOO3">
                                        <input class="label-input position-relative" type="radio" id="radioOO3"
                                            name="radio">
                                        <p class="lebel-text">Да, другие родственники</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radioOO4">
                                        <input class="label-input position-relative" type="radio" id="radioOO4"
                                            name="radio">
                                        <p class="lebel-text">Нет</p>
                                    </label>
                                </div>

                            </div>

                            <div class="btn-navigation d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div
                        class="col-md-6 col-12 col-width-2 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-obj d-flex justify-content-md-between justify-content-center">

                <div
                    class="row w-100 justify-content-md-between justify-content-start flex-md-row flex-column align-items-md-start align-items-center">
                    <div class="col-md-6 col-12">
                        <h2 class="title-number">06</h2>
                        <h2 class="title-medium">Обращались ли ранее за помощью в оформлении документов?</h2>
                        <form class="form">

                            <div class="row m-0 d-flex justify-content-start">

                                <div class="col-md-6 col-12 p-0 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioOOO1">
                                        <input class="label-input position-relative" checked type="radio" id="radioOOO1"
                                            name="radio">
                                        <p class="lebel-text">Да, к вам</p>
                                    </label>
                                    <label class="quiz-label d-flex align-items-center" for="radioOOO2">
                                        <input class="label-input position-relative" type="radio" id="radioOOO2"
                                            name="radio">
                                        <p class="lebel-text">Да, в другой центр</p>
                                    </label>
                                </div>

                                <div class="col-md-6 col-12 label-content">
                                    <label class="quiz-label d-flex align-items-center" for="radioOOO3">
                                        <input class="label-input position-relative" type="radio" id="radioOOO3"
                                            name="radio">
                                        <p class="lebel-text">Нет</p>
                                    </label>
                                </div>

                            </div>

                            <div class="btn-navigation d-flex">
                                <button class="btn-general bg-color me-3">Назад</button>
                                <button class="btn-general">Далее</button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-12 d-flex flex-column align-items-md-end align-items-start mt-md-0 mt-5">
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-1.png" alt="">
                            <p class="quiz-text quiz-text-width">15 лет опыта</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-2.png" alt="">
                            <p class="quiz-text quiz-text-width">Юридическая поддержка</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-3.png" alt="">
                            <p class="quiz-text quiz-text-width">Гарантированный соцпакет</p>
                        </div>
                        <div class="quiz-list__element d-flex align-items-center">
                            <img class="quiz-list-img" src="../img/list-4.png" alt="">
                            <p class="quiz-text quiz-text-width">Оформили более 30 000 <br class="d-md-block d-none">
                                мигрантов</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="quiz" style="display: none;">

            <div class="quiz-last d-flex flex-column w-75">

                <img class="last-img mx-auto d-md-none d-block" src="../img/last-img.png" alt="">

                <h2 class="title-medium title-last text-md-start text-center">Оставьте свои контактные данные и получите
                    срочное
                    оформление
                    миграционных документов</h2>

                <form class="form d-flex flex-column mx-md-0 mx-auto">

                    <input class="quiz-input mb-3" placeholder="Введите ваше имя" type="text">
                    <input class="quiz-input mb-sm-3 mb-5" placeholder="Введите ваш телефон" type="tel">

                    <p class="lebel-text text-sm-start text-center">Нажимая на кнопку, вы даете согласие на обработку
                        <br> персональных данных
                    </p>

                    <div class="btn-navigation btn-navigation-three d-flex">
                        <button class="btn-general bg-color me-3">Назад</button>
                        <button class="btn-general">Далее</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <img class="doc-abs-list position-absolute" src="../img/doc-abs-list.png" alt="">
    <img class="last-img position-absolute d-md-block d-none" style="" src="../img/last-img.png" alt="">
</section>